/Trabalho-1/*.jpg
/Trabalho-1/LaTex/
/Trabalho-1/octave-workspace
/Trabalho-1/180113330.zip
/Trabalho-2/main.m~
/Trabalho-2/octave-workspace
/Trabalho-1/*.png
/Trabalho-2/questao2.m~
/Trabalho-2/questao3.m~
/Trabalho-2/Relatorio/*
/Trabalho-1/Projeto_1.pdf
